<header class="block shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex items-center gap-8">
        <a routerLink="/" class="flex items-center gap-3">
          <div class="w-8 h-8 rounded flex items-center justify-center bg-black text-white font-bold">lp</div>
          <span class="hidden sm:inline font-semibold text-lg">Lovelace Project</span>
        </a>

        <div class="hidden lg:flex items-center px-3 py-1 w-96">
          <p-inputgroup>
            <input pInputText placeholder="Pesquise por um jogo..." />
            <p-inputgroup-addon>
              <p-button icon="pi pi-search" severity="secondary" variant="text" />
            </p-inputgroup-addon>
          </p-inputgroup>
        </div>
      </div>

      <nav class="flex items-center justify-between gap-4 grow">
        <div class="flex items-center gap-2 ml-4">
          <p-button routerLink="/" label="Início" variant="text" [severity]="getButtonSeverity('/')" [rounded]="true" />
          <p-button routerLink="/wishlist" label="Lista de Desejos" variant="text" [severity]="getButtonSeverity('/wishlist')" [rounded]="true" />
        </div>

        <div class="flex items-center gap-2 ml-4">
          @if (isLoggedIn) {
            <p-button routerLink="/profile" label="Perfil" icon="pi pi-user" [rounded]="true"></p-button>
            <p-button label="Sair" severity="secondary" (click)="signOut()"></p-button>
          } @else {
            <p-button routerLink="/login" label="Entrar" icon="pi pi-user"></p-button>
            <p-button routerLink="/register" label="Registrar" severity="secondary"></p-button>
          }
        </div>
      </nav>
    </div>
  </div>
</header>
