<app-header>
  <form class="space-y-6" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-key"></i>
        </p-inputgroup-addon>
        <input pInputText type="password" formControlName="password" i18n-placeholder placeholder="Nova senha" />
      </p-inputgroup>

      @if (f['password'].invalid && (f['password'].dirty || f['password'].touched)) {
        <div class="text-sm text-red-600 mt-1">
          @if (f['password'].errors?.['required']) {
            <div i18n>Senha é obrigatória.</div>
          } @if (f['password'].errors?.['minlength'] || f['password'].errors?.['maxlength']) {
            <div i18n>Senha precisa ter entre 8 e 64 caracteres.</div>
          }
        </div>
      }
    </div>

    <div>
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-key"></i>
        </p-inputgroup-addon>
        <input pInputText type="password" formControlName="passwordConfirm" i18n-placeholder placeholder="Confirmar senha" />
      </p-inputgroup>

      @if (resetForm.errors?.['passwordMismatch'] && (f['passwordConfirm'].dirty || f['passwordConfirm'].touched)) {
        <div class="text-sm text-red-600 mt-1" i18n>As senhas não coincidem.</div>
      }
    </div>

    <div class="flex flex-col gap-3">
      <button pButton type="submit" class="p-button p-component p-button-raised w-full" [disabled]="resetForm.invalid" [loading]="loading" i18n>
        Redefinir Senha
      </button>
    </div>
  </form>

  <div class="mt-6 text-center text-sm text-slate-600">
    <span i18n>Lembrou a senha?</span>
    <p-button link routerLink="/login" i18n-label label="Entrar" size="small" />
  </div>
</app-header>
