<app-header>
  <form class="space-y-6" (ngSubmit)="simulateLogin()">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-user"></i>
      </p-inputgroup-addon>
      <input
        pInputText
        [(ngModel)]="identity"
        name="identity"
        required
        placeholder="Nome de usuário ou email"
      />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-key"></i>
      </p-inputgroup-addon>
      <input
        pInputText
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="Senha"
      />
    </p-inputgroup>

    <div class="flex flex-col gap-3">
      <button pButton type="submit" class="p-button p-component p-button-raised w-full">
        Entrar
      </button>
      <div class="flex items-center justify-between">
        <p-button
          variant="text"
          severity="secondary"
          routerLink="/forgot-password"
          label="Esqueci a senha"
        />
      </div>
    </div>
  </form>
  <div class="mt-6 text-center text-sm text-slate-600">
    <span>Não tem conta?</span>
    <p-button link routerLink="/register" label="Registrar" size="small" />
  </div>
</app-header>
